body{
    text-align: center  ;
    background-color: rgb(255, 145, 196);
}

h1{
    color: black;
    font-size: 40px;
}
h2{
    color: black;
    font-size: 25px;
}

a {
    color: blue;
    font-size: 40px;
}

p {
    color: black;
    font-size: 25px;
}
